#global {
  display:grid; 
  grid-template-columns: 1.5fr 1fr 1fr;
  grid-template-rows: 100px auto 100px;
  row-gap: 10px;


}

header {
  background-color:rgb(30, 30, 90);
  grid-column: 1/4;
  grid-row:1; 
  border-radius: 10px;
}

header h1 {
  margin: 0px;
  height: 100px;
  line-height:160px;
  color:white;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;  
  background:-webkit-linear-gradient(rgb(30,30,90), white);
  background-clip:text;
  -webkit-background-duration: 3s;
  -webkit-background-clip:text;
  color:transparent;  
}
#a {
  display: none;
}
nav {
 
  grid-column:1/3;
  grid-row: 2;
  text-align: left;
  font-size: 10px;

  min-height: 540px;

}

ul {
  margin: 35px auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: xx-large;
 z-index: 10; 
}

ul li{
  list-style:none;
  padding: 10px;
  font-size:25px;
}

#a ul li a{
  color:rgb(30, 30, 90);
  text-decoration:none;
  width: 100px;
	height: 500px;
  margin: 10px 0;
  position: sticky;
  top:0px;
  position:relative;
  padding:6px 0;
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}    

#a ul li a:after{
  content:'';
  width:0%;
  height:2px;
  bottom:0;
  left:0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition:all 0.5s;
  position:absolute;
  }

  #a ul li a:hover:after {
  width:60%;
  margin-left:5%;
  -moz-box-shadow: 0px 0px 10px white;
  -webkit-box-shadow: 0px 0px 15px;
 -o-box-shadow: 0px 0px 10px ;
  box-shadow:0px 0px 10px ;
}

main {
  background-color: white;
  grid-column:2/4;
  grid-row:2;
  color: rgb(30, 30, 90);
  text-align: left;
  padding-left: 10px;

}
h2{
  text-align: center;
  margin-top: 0%;
}
form {
  text-align: center;
}

footer {
  background-color:white;
  font-size: 15px;
  grid-column: 1/3;
  grid-row: 3;
  text-align: center;
}

#homepage
{
  grid-column: 1/4; 
}

#hamburger {
  display: block;
  position: fixed;
  top : 0px;
  left: 0px;
  z-index:10;
}
.menu_hamburger.affiche
{
  display: block;
}

@media screen and (min-width:600px) and (max-width:1279px) {
   
nav {
  background-image: url(img/cover.jpg);
  background-repeat: no-repeat;
}
header {
    position: relative;
}

#hamburger {
    display: none;
}

#a {
display:block;   
} 
#homepage
{
  grid-column: 3/4; 
}
}

@media screen and (min-width:1280px) {
  nav{
    background-image: url(img/cover.jpg);
    background-repeat: no-repeat;
  }

  header {
      position: relative;
  }

  #hamburger {
      display: none;
  }
  
  #a {
      display:block;
     
  }

  #homepage
{
  grid-column: 3/4; 
}
/*
  #a ul {
      height:auto;
      border:none;
      border-radius: 0;
      padding:0px;
      margin-top: 200px;
  }
  
  #a a {
      float:none;
      padding: 0px;
      width:100%;
  }
  */
      
}